---
layout: blog
permalink: /
title: rockitech.net - Blog
---
<h2 class="title">Blog</h2>
              <hr>
	  {% for post in site.posts %}
<article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  {% if post.image %}
                  <img src="{{ post.image[0].url }}" alt="{{ post.image[0].alt }}" title="{{ post.image[0].title }}" />
                  
                  {% else %}
                  <canvas width="64" height="64" class="identicons" data-jdenticon-url="hashCode('{{ post.url |slugify }}')"></canvas>
                  {% endif %}
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>@{{ post.author }}</strong> <small style="float:right;">{{ post.date | date_to_string }}</small>
                    <br>
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <a class="level-item" href="http://www.facebook.com/sharer.php?u={{ post.url | absolute_url }}" target="_blank">
			    		<span class="icon is-small"><i class="fa fa-facebook"></i></span></a>
                    <a class="level-item" href="http://twitter.com/share?url={{ post.url | absolute_url }}&text={{ post.title }}" target="_blank">
						<span class="icon is-small"><i class="fa fa-twitter"></i></span></a>
	                <a class="level-item" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ post.url | absolute_url }}" target="_blank">    
						<span class="icon is-small"><i class="fa fa-google-plus"></i></span></a>
	               </div>
	               <div class="level right">{% for tag in post.categories %}
			 <a class="tag" href="/blog/categories.html#{{ tag | slugify }}">{{ tag }}</a> 
		 {% endfor %}</div>
                </nav>

              </div>
            </article>

	  {% endfor %}
    <script type="text/javascript">
 String.prototype.hashCode = function() {
  var hash = 0, i, chr;
  if (this.length === 0) return hash;
  for (i = 0; i < this.length; i++) {
    chr   = this.charCodeAt(i);
    hash  = ((hash << 5) - hash) + chr;
    hash |= 0; // Convert to 32bit integer
  }
  return (hash >>> 0);
};
      var cusid_ele = document.getElementsByClassName('identicons');
    for (var i = 0; i < cusid_ele.length; ++i) {
      var item = cusid_ele[i];  
      item.setAttribute('data-jdenticon-hash','555'+item.getAttribute("data-jdenticon-url").hashCode());
    }
    jdenticon();
    </script>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}