---
layout: blog_new
title: Home
pagination: true
noBreadcrumbs: true
---
<style type="text/css">
.grid-sizer,
.grid-item { width: 30%;margin: 10px 15px; }
  figure.image{
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
   
    overflow: hidden;
}
   figure.image::after{
      content: '';
    position: absolute;
    bottom: -2em;
    left: -5%;
    width: 110%;
    height: 4em;
    background: #fff;
    border-top: 4px solid #00d1b2;
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
}
  }
</style>
<h2 class="title">Blog</h2>
              <hr>
    <div class="masonry-grid">
      <div class="grid-sizer"></div>
    {% for post in site.posts %}
    <div class="grid-item">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            {% unless post.image == site.defaults[0].values.image %}
            <img src="{{ post.image.path }}" />
            {% else %}
            <canvas width="256" height="256" class="identicons" data-jdenticon-url="hashCode('{{ post.url |slugify }}')"></canvas>
            {% endunless %}
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
              <p class="subtitle is-6">@{{ post.author }}</p>
            </div>
          </div>

          <div class="content">
            {% for tag in post.categories %}
             <a href="/categories/#{{ tag | slugify }}">#{{ tag | replace: "-", " " }}</a> 
           {% endfor %}
            <br>
            <small>{{ post.date | date_to_string }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script type="text/javascript">
var elem = document.querySelector('.masonry-grid');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
   // use element for option
  columnWidth: '.grid-sizer',
  percentPosition: true
});

</script>
