---
layout: blog_new
title: Home
pagination: true
noBreadcrumbs: true
---
<style type="text/css">
  .masonry-grid{
    
  }
  .post-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: 1px solid #d5dbde;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
}
  .grid-item .card{
    margin: 5px 10px;
  }
.grid-item .title{
  font-weight: bold;
  }
  .grid-sizer, .grid-item { width: 33%; }
  @media screen and (max-width:768px) {
  .grid-sizer, .grid-item { width: 50%; }
  }
  @media screen and (max-width:600px) {
  .grid-sizer, .grid-item { width: 100%; }
  }
  figure.image{
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
   
    overflow: hidden;
  }
  .grid-item figure.image img,.grid-item figure.image canvas{
   -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  }
  .grid-item:hover figure.image img,.grid-item:hover figure.image canvas{-webkit-transform: scale(1.5);
transform: scale(1.5);
opacity: .7;}
   figure.image::after{
      content: '';
    position: absolute;
    bottom: -2em;
    left: -5%;
    width: 110%;
    height: 4em;
    background: #fff;
    border-top: 4px solid #00d1b2;
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
}
  }
</style>
<h2 class="title">Blog</h2>
              <hr>
    <div class="masonry-grid">
      <div class="grid-sizer"></div>
    {% for post in site.posts %}
    <div class="grid-item">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            {% unless post.image == site.defaults[0].values.image %}
            <img src="{{ post.image.path }}" />
            {% else %}
            <canvas width="256" height="256" class="identicons" data-jdenticon-url="hashCode('{{ post.url |slugify }}')"></canvas>
            {% endunless %}
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
              <p class="subtitle is-6">@{{ post.author }}</p>
            </div>
          </div>

          <div class="content">
            <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            
            {% for tag in post.categories %}
             <a href="/categories/#{{ tag | slugify }}">#{{ tag | replace: "-", " " }}</a> 
           {% endfor %}
            <br>
            <small>{{ post.date | date_to_string }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script type="text/javascript">
var elem = document.querySelector('.masonry-grid');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
   // use element for option
  columnWidth: '.grid-sizer',
  percentPosition: true
});

</script>
