---
layout: blog_new
title: Home
pagination: true
noBreadcrumbs: true
---

<h2 class="title">Blog</h2>
              <hr>
    <div class="masonry-grid">
    {% for post in site.posts %}
    <div class="brick">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            {% unless post.image == site.defaults[0].values.image %}
            <img src="{{ post.image.path }}" />
            {% else %}
            <canvas width="256" height="256" class="identicons" data-jdenticon-url="hashCode('{{ post.url |slugify }}')"></canvas>
            {% endunless %}
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
              <p class="subtitle is-6">@{{ post.author }}</p>
            </div>
          </div>

          <div class="content">
            {% for tag in post.categories %}
             <a href="/categories/#{{ tag | slugify }}">#{{ tag | replace: "-", " " }}</a> 
           {% endfor %}
            <br>
            <small>{{ post.date | date_to_string }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="https://unpkg.com/bricks.js@1.8.0/dist/bricks.js"></script>
<script type="text/javascript">
// import Bricks

import Bricks from 'bricks.js'

// define your grid at different breakpoints, mobile first (smallest to largest)

const sizes = [
  { columns: 1, gutter: 10 },                   // assumed to be mobile, because of the missing mq property
  { mq: '768px', columns: 3, gutter: 25 },
  { mq: '1024px', columns: 4, gutter: 50 }
]

// create an instance

const instance = Bricks({
  container: '.masonry-grid',
  packed:    'data-packed',        // if not prefixed with 'data-', it will be added
  sizes:     sizes
})

// bind callbacks

instance
  .on('pack',   () => console.log('ALL grid items packed.'))
  .on('update', () => console.log('NEW grid items packed.'))
  .on('resize', size => console.log('The grid has be re-packed to accommodate a new BREAKPOINT.'))

// start it up, when the DOM is ready
// note that if images are in the grid, you may need to wait for document.readyState === 'complete'

document.addEventListener('DOMContentLoaded', event => {
  instance
    .resize(true)     // bind resize handler
    .pack()           // pack initial items
})
</script>
