---
layout: blog
title: Home
pagination: true
noBreadcrumbs: true
---

<h2 class="title">Blog</h2>
              <hr>
    {% for post in paginator.posts %}
<article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  {% unless post.image == site.defaults[0].values.image %}
                  <img src="{{ post.image }}" />
                  {% else %}
                  <canvas width="64" height="64" class="identicons" data-jdenticon-url="hashCode('{{ post.url |slugify }}')"></canvas>
                  {% endunless %}
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                    <strong>@{{ post.author }}</strong> <small style="float:right;">{{ post.date | date_to_string }}</small>
                    <br>
                    <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                  {% assign shareUrl=post.url | absolute_url | uri_escape %}
                    <a class="level-item" href="http://www.facebook.com/sharer.php?u={{ shareUrl }}" target="_blank">
              <span class="icon is-small"><i class="fa fa-facebook"></i></span></a>
                    <a class="level-item" href="http://twitter.com/share?url={{ shareUrl }}&text={{ post.title | uri_escape }}" target="_blank">
            <span class="icon is-small"><i class="fa fa-twitter"></i></span></a>
                  <a class="level-item" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ shareUrl }}" target="_blank">    
            <span class="icon is-small"><i class="fa fa-google-plus"></i></span></a>
                 </div>
                 <div class="level right">{% for tag in post.categories %}
       <a class="tag" href="/categories/#{{ tag | slugify }}">{{ tag }}</a> 
     {% endfor %}</div>
                </nav>

              </div>
            </article>

    {% endfor %}