<p>
I'm a programmer wannabe,I started exploring this world using a Nokia 2600 C-2 after hooked up with "Dev Stuff", for years with the dream of becoming a web developer, learnt somewhat of html, css, JavaScript (before NodeJs), In the years of soul searching &amp; procrastinating, I ended up here. These days I am learning lots of interesting fundamental stuff like Maths, Programming (in general) &amp; Operating Systems. I am not a native English speaker, I will be logging my thoughts &amp; stuff down on my blog, Keep me company :)
</p>
