<ul class="contact">
  <li><a target="_blank" href="https://github.com/fatzombi">Github</a></li>
  <li><a target="_blank" href="https://www.reddit.com/user/fatzombi/">Reddit</a></li>
  <li><a target="_blank" href="https://twitter.com/fatzombi_">Twitter</a></li>
  <li><a target="_blank" href="https://www.youtube.com/channel/UCEg_WKr_9ucw1XURFNECzkg">Youtube</a></li>
  <li><a target="_blank" href="/feed/">RSS</a></li>
  <li><a target="_blank" href="https://digg.com/u/fatzombi">Digg</a></li>
  <li><a target="_blank" href="mailto:fatzombi.dev@yandex.com">Mail</a></li>
</ul>
