<script src="//cdn.jsdelivr.net/jdenticon/1.4.0/jdenticon.min.js" async></script>
<script src="/static/js/bulma.js"></script>
    
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8520786425148356",
    enable_page_level_ads: true
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101423144-1', 'auto');
  ga('send', 'pageview');

</script>

<footer id="footer" class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-vcentered has-text-centeread">
				<div class="column is-one-third is-left">
					<p class="title">rockitech</p>
					<p class="subtitle">by <strong>codevector</strong></p>
				</div>

				<div class="column has-text-centered">
					<p>
						Powered by Team <strong>CodeVector</strong>.
						<br>
						We support Open Source <span class="icon animated wobble infinite"><i class="fa fa-heart footer-heart-color"></i></span>
					</p></div>
			</div>
		</div>
	</div>
</footer>