<script src="/static/js/bulma.js"></script>

<footer id="footer" class="hero is-primary">
	<div class="hero-body">
		<div class="container">

			<div class="columns is-vcentered has-text-centeread">
				<div class="column is-one-third is-left">
					<p class="title">rockitech</p>
					<p class="subtitle">by <strong>mobihack</strong></p>
				</div>

				<div class="column has-text-centered">
					<p>
						Powered by Team <strong>CodeVector</strong>.
						<br>
						We support Open Source <span class="icon animated wobble infinite"><i style="color: #f44336;" class="fa fa-heart"></i></span>
					</p></div>
			</div>
		</div>
	</div>
</footer>
		
