{% if page.comments %}
<div class="box">
    <h4 class="title">
        Comments
    </h4>
    <hr>
        <script type="text/javascript">
            var dataPath="https://cdn.rockitech.net/comments/get?path={{ page.url | absolute_url | uri_escape }}";
        </script>
        <script src="/static/js/comments.js">
        </script>
        <div id="comments-generate">
            <div class="cssload-container">
                <div class="cssload-whirlpool">
                </div>
            </div>
            <br>
        </div>
        <article class="media comment">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="/static/img/user-icon.png">
    </p>
  </figure>
  <div class="media-content">
    <form action="{{ site.commentsPath }}" method="POST">
                <div class="field">
                    <div class="field-body">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" name="name" placeholder="Name" type="text">
                                </input>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="comment" placeholder="Enter your comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="g-recaptcha" data-sitekey="6LcTyyYUAAAAAH5OOPE3J2TSNqd9SEU8QVL8nd0L">
                                </div>
                                <input name="path" type="hidden" value="{{ site.url }}{{ page.url }}">
                                </input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                    Post comment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
  </div>
</article>
            {% endif %}
        </hr>
    </hr>
</div>