html {
    position: relative;
    min-height: 100%;
}

footer .footer-heart-color {
    color: #f44336;
}

.columns.column-centered {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    nav#top.nav .nav-menu {
        display: block;
        transition: transform 0.75s, opacity 0.5s ease-out;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
    }
    nav#top.nav .nav-menu.is-active {
        opacity: 1;
        transform: scaleY(1);
    }
    .is-expanded-mobile {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

h1.brand-name a {
    /*color: #00631A;*/
    color: #000000;
    text-decoration: underline;
}

.main-container {
    font-family: "Lucida Console", Monaco, monospace;
    margin-top: 3rem;
}

nav.sidebar ul {
    list-style: none;
}

nav.sidebar ul a {
    color: #054B85;
}

nav.sidebar ul a:hover {
    color: #CE3D00;
}

div.content-page {
    margin-top: 2rem;
    margin-left: 20px;
}

div.content-block {
    margin-bottom: 4rem;
}

div.content-block h2 {
    color: #444444;
}

div.content-block p {
    color: #666666;
}

ul.posts span {
    color: #151515;
}

.section.main {
    background-color: #f5f8fa;
}

.card-content {
    padding: 1.5rem;
    margin-top: -15px;
}

.card-avatar {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 10px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

.card-avatar-img {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}

.card-user-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.card-user-name a {
    color: inherit !important;
}

.card-stats {
    margin-left: 11px;
    padding: 10px 0;
}

.card-stats-list {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

ul.card-stats-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.card-stats-item {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.card-stats-item a:hover {
    text-decoration: none;
}

.card-stats-val {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}

.card-stats-key {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.spacer {
    height: 20px;
}

img.image-is-round, figure.image-is-round img {
    border-radius: 50%;
}

.trending .trend-title {
    padding-bottom: 10px;
}

.trending .trend-hashtag {
    padding-bottom: 8px;
}

article.media .media-content .content h3 {
    margin: 0px;
}

article.media .media-content .content h3 a {
    font-size: 1rem;
}

article.media .media-content .content {
    line-height: 1.25;
}


/** Posts Page and Splash Header */

.post-header span.author {
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    .post-header {
        text-align: center;
    }
    .post-header figure {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.splash-header {
    background-image: url("https://source.unsplash.com/1600x900/daily");
    background-position: 0 50%;
    background-size: 100% auto;
    background-size: cover;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 0px;
    height: 64px;
    width: 100%;
}

.splash-header-main {
    height: auto;
    color: white;
    background-color: rgb(0, 209, 178);
}

.splash-header-main .title {
    color: white;
}

.splash-header-main .subtitle {
    color: whitesmoke;
}

.glass-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3em;
}

@media screen and (max-width: 600px) {
    #title-box {
        padding: 0px;
    }
    .glass-overlay {
        padding: 4em;
        width: 100%;
    }
}

pre.highlight code {
    white-space: pre-wrap;
}


/** Breadcrumbs */

.breadcrumbs {
    background-color: #1aebcc;
    padding: 10px 20px;
}

.breadcrumbs ol {
    list-style-type: none;
    text-align: center;
}

.breadcrumbs ol li {
    display: inline;
}

.breadcrumbs ol li a {
    color: white;
    padding: 10px 4px;
}

.breadcrumbs ol li a:hover {
    background-color: #34ffe6;
}

.breadcrumbs ol li:last-child a {
    color: #37474f;
}

.breadcrumbs ol li:last-child a:hover {
    background-color: #1aebcc;
}

.breadcrumbs ol li::before {
    display: inline-block;
    color: #636c72;
    content: "\203A";
    padding-left: 1px;
    padding-right: 1px;
}

.breadcrumbs ol li:first-child::before {
    content: none;
    padding: 0px;
}


/** TOC  */

ul#my_toc li {
    padding-top: 12px;
}

ul#my_toc li a {
    color: grey;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

ul#my_toc li a.active {
    color: #00d1b2;
}

ul#my_toc li ul {
    margin-left: 10px;
    font-size: 0.7em;
}

#fixed-toc {
    position: absolute;
    float: left;
    width: 150px;
    margin: 0px;
    margin-top: 65px
}

#fixed-toc.is-sticky {
    position: fixed;
    top: 0;
}

#fixed-toc.is-sticky-end {
    position: fixed;
}

@media screen and (max-width: 1100px) {
    #fixed-toc {
        display: none;
    }
}

#mark-as-complete.button {
    margin-top: 16px;
}
/** Examplr  */
.image canvas{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;

    display: block;
}


/** Code Highlight */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f3f3; }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #FF6600 } /* Literal.Number.Bin */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sa { color: #CC3300 } /* Literal.String.Affix */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .dl { color: #CC3300 } /* Literal.String.Delimiter */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #CC00FF } /* Name.Function.Magic */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .vm { color: #003333 } /* Name.Variable.Magic */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */

/** Comments Animation  */

article.media.comment figure img {
    border-radius: 3px;
}

@media screen and (max-width: 500px) {
    .comment .media-left {
        display: none;
        /** Comments Fix */
    }
}

.cssload-container {
    position: relative;
    height: 49px;
}

.cssload-whirlpool, .cssload-whirlpool::after, .cssload-whirlpool::before {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    border-left-color: #000;
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1.15s linear infinite;
    -o-animation: cssload-rotate 1.15s linear infinite;
    -ms-animation: cssload-rotate 1.15s linear infinite;
    -webkit-animation: cssload-rotate 1.15s linear infinite;
    -moz-animation: cssload-rotate 1.15s linear infinite
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1.15s linear infinite;
    -o-animation: cssload-rotate 1.15s linear infinite;
    -ms-animation: cssload-rotate 1.15s linear infinite;
    -webkit-animation: cssload-rotate 1.15s linear infinite;
    -moz-animation: cssload-rotate 1.15s linear infinite
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2.3s linear infinite;
    -o-animation: cssload-rotate 2.3s linear infinite;
    -ms-animation: cssload-rotate 2.3s linear infinite;
    -webkit-animation: cssload-rotate 2.3s linear infinite;
    -moz-animation: cssload-rotate 2.3s linear infinite
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg)
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg)
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg)
    }
}