{% include header.html %}

<section class="section main">
    <div class="">
      <div class="columns">
        <div class="column is-3 is-offset-1">
          <div class="card is-fullwidth user-sidebar">
            <header class="card-header splash-header">
            </header>
            <div class="card-content">
              <a class="card-avatar">
                <img src="/static/img/logo-card.png" class="card-avatar-img" alt="Avatar Image">
              </a>

              <div class="card-user">
                <div class="card-user-name">
                  <h1 class="title is-4"><strong>{{ site.name }}</strong></h1>
                </div>
              </div>
              <br>
              <div class="card-stats">
              <p class="small">Basically, most of our post addresses problems we had difficulty finding an answer by ourselves or searching online. We also post articles related to new technologies and tools in the fields of web designing, programming and server management.</p>
              </div>
            </div>
          </div>
          <div class="box trending">
          <p class="trend-title"><span class="title is-5">Categories</span> · <a href="/categories/">all</a></p>
            <hr>
            {% assign tags_list = site.categories %}  
              {% if tags_list.first[0] == null %}
                {% for tag in tags_list %} 
                  <p class="trend-hashtag"><a href="/categories/#{{ tag | slugify }}">#{{ tag | replace: "-", " " | capitalize }}</a> <span class="tag">{{ site.tags[tag].size }}</span></p>
                {% endfor %}
              {% else %}
                {% for tag in tags_list %} 
                <p class="trend-hashtag"><a href="/categories/#{{ tag[0] | slugify }}">#{{ tag[0] | replace: "-", " " | capitalize }}</a> <span class="tag">{{ tag[1].size }}</span></p>
                {% endfor %}
              {% endif %}
            {% assign tags_list = nil %}
          </div>
          
        </div>
        <div class="column is-7">
          <!--<div class="notification is-danger">
            <button class="delete" onclick="((this).parentNode.remove())"></button>
            This blog is not yet finished, it may change. Please wait for the full version.
          </div>-->
          <div class="box">
              
            {{ content }}
            <div class="spacer"></div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8520786425148356"
     data-ad-slot="4700959821"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
          {% if page.pagination %}
            {% include blog_paginate.html %}
          {% endif %}
        </div>

        <!--<div class="column is-3">
        

          <div class="box">
            <p><span class="title is-5">Who to follow</span></p>
            <hr>
            {% for member in site.data.authors %}
            <div class="columns is-mobile">
              <div class="column is-3 is-marginless">
                <div class="image">
                <figure class="image is-48x48">
                  <img src="https://github.com/{{ member[1].github }}.png?size=48" style="border-radius: 50%" alt="{{ member[1].id }} - Avatar Image">
                </figure>
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>{{ member[1].name }}</strong>
                    <small>&commat;{{ member[1].id }}</small>
                  </a>
                </p>
                <a class="button is-primary is-small" href="http://github.com/{{ member[1].github }}">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>follow</span>
                </a>
              </div>
            </div>
            {% endfor %}
            </div>
          
          </div>-->
        </div>
      </div>
  </section>
{% if page.noBreadcrumbs==blank %}
<div class="breadcrumbs">{% include blog_breadcrumbs.html %}</div>
{% endif %}
{% include footer.html %}