{% include header.html %}
<section class="hero is-default is-small post-banner splash-header splash-header-main" style="">
  <div class="hero-body" id="title-box">
    <div class="container glass-overlay">
    <div class="columns column-centered post-header">
    <!--<div class="column is-narrow post-image">
      <figure class="image is-128x128">
                  {% unless page.image.path == site.defaults[0].values.image.path %}
                  <img src="{{ page.image.path }}" title="{{ page.title }}" alt="{{ page.title }}" />
                  {% else %}
                  <canvas width="128" height="128" class="identicons" data-jdenticon-url="hashCode('{{ page.url |slugify }}')"></canvas>
                  {% endunless %}
                </figure>
  </div>-->
    
  
  <div class="column">
    <h1 class="title">
        Rockitech Blog
      </h1>

      <span class="author">
        A place for all things web development!
      </span>
  
</div>
  </div>  
      
    </div>
  </div>
</section>

<section class="section main" style="background-color: white">
    <div class="container">
      <div class="columns">
        
        <div class="column">
          <!--<div class="notification is-danger">
            <button class="delete" onclick="((this).parentNode.remove())"></button>
            This blog is not yet finished, it may change. Please wait for the full version.
          </div>-->
          <div>
              
            {{ content }}
            <div class="spacer"></div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8520786425148356"
     data-ad-slot="4700959821"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
          {% if page.pagination %}
            {% include blog_paginate.html %}
          {% endif %}
        </div>
        
        </div>
      </div>
  </section>
{% if page.noBreadcrumbs==blank %}
<div class="breadcrumbs">{% include blog_breadcrumbs.html %}</div>
{% endif %}
{% include footer.html %}