{% include header.html %}
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-vcentered">
					<div class="column is-5">
						<figure class="image is-4by3">
							<img src="https://source.unsplash.com/800x600/daily" alt="Random Image">
						</figure>
					</div>
					<div class="column is-6 is-offset-1">
						<h1 class="title is-2">
							Welcome to mobihack.github.io
						</h1>
						<h2 class="subtitle is-4">
							Just a simple blog to share my experiences :)
						</h2>
						<br>
						<p class="has-text-centered">
							<a class="button is-large is-primary" href="./blog/">
								visit blog
							</a>
							<br>
							<br>
							<span style="color: lightgray; font-size: 0.75em">(daily random images provided by <a href="http://unsplash.com/">unsplash</a>)</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
