<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		</head>
		<body>
			<div class="container main-container">
			  <div class="row">
			<div class="col-sm-8">
			<h1 class="brand-name"><a href="/">FATZOMBI</a></h1>
			</div>
			<div class="col-sm-3 offset-sm-1">
			  <nav class="sidebar">
			    <ul>
			      <li><a href="/#about">about me</a></li>
			      <li><a href="/#projects">projects</a></li>
			      <li><a href="/#blog">blog</a></li>
			      <li><a href="/#contact">contact</a></li>
			    </ul>
			  </nav>
			</div>
			<div class="col-sm-8 content-page">
				{{ content }}
			</div>
			  </div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
				<p>Copyright (c) 2016 Copyright Holder All Rights Reserved.</p>
			</div>
			</footer>
		</body>
	</html>
