{% include header.html %}
<section class="hero is-success is-fullheight"  style="background:url('https://source.unsplash.com/LNRyGwIJr5c/1600x900') no-repeat center center fixed;  background-size: cover;">
  <div class="hero-body">
    <div class="container has-text-centered">
	    <h1 class="title">
        A marketing and brand creation agency.
      </h1>
      <h2 class="subtitle" style="font-weight:lighter">
        We don't just make logos, we make design & content choices that disrupt the market from the inside out.
      </h2>
    </div>
  </div>
</section>
<br>
<div class="title">Team</div>
<div class="columns is-10 is-offset-1">
<div class="column is-4">
	<div class="icon is-large fa fa-user">
	</div>
	<br>
	
	</div>
	
	
<div class="column is-4">
	<div class="icon is-large fa fa-user">
	</div>
	</div>
	
<div class="column is-4">
	<div class="icon is-large fa fa-user">
	</div>
	</div>
</div>
		{% include footer.html %}
