{% include header.html %}
<section class="hero is-success is-fullheight"  style="background:url('https://source.unsplash.com/LNRyGwIJr5c/1600x900') no-repeat center center fixed;  background-size: cover;">
  <div class="hero-body">
    <div class="container has-text-centered">
	    <h1 class="title">
        A marketing and brand creation agency.
      </h1>
      <h2 class="subtitle" style="font-weight:lighter">
        We don't just make logos, we make design & content choices that disrupt the market from the inside out.
      </h2>
    </div>
  </div>
</section>
 <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="title">Team</div>
        </div>
      </div>
      <hr>
      <div class="columns">
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
 
		{% include footer.html %}
