{% include header.html %}
<section class="hero is-success is-fullheight"  style="background:url('https://source.unsplash.com/LNRyGwIJr5c/1600x900');">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1>rockiteh
	    </h1>
	    <h2 class="title">
        A marketing and brand creation agency.
      </h2>
      <h3 class="subtitle" style="font-weight:lighter">
        We don't just make logos, we make design & content choices that disrupt the market from the inside out.
      </h3>
    </div>
  </div>
</section>  
		{% include footer.html %}
