{% include header.html %}
<section class="hero is-default is-small post-banner splash-header splash-header-main" style="">
  <div class="hero-body" id="title-box">
    <div class="container glass-overlay">
    <div class="columns">
    <div class="column is-2">
      <figure class="image is-64x64">
                  {% if page.image %}
                  <img src="{{ page.image[0].url }}" alt="{{ page.image[0].alt }}" title="{{ page.image[0].title }}" />
                  
                  {% else %}
                  <canvas width="64" height="64" class="identicons" data-jdenticon-url="hashCode('{{ page.url |slugify }}')"></canvas>
                  {% endif %}
                </figure>
  </div>
    
  
  <div class="column">
    <h1 style="color: white;" class="title">
        {{ page.title }}
      </h1>

      <h2 class="subtitle" style="color:lightgrey">
        by @{{ page.author }}
      </h2>
  
</div>
  </div>  
      
    </div>
  </div>
</section>
  
  <div class="spacer"></div>
  <div class="spacer"></div>

  <section class="section blog">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content blog-post">
            <p class="has-text-right has-text-muted">{{ page.date | date_to_string }}</p>
            
            {{ page.content | markdownify  }}
            
          </div>
          
          
          <div class="spacer"></div>

          <div class="columns">
  <div class="column is-7">
          {% include post_user.html %}
</div> <!--/column-->
<div class="column is-5">
    <div class="card" style="height: 100%">
<div class="card-content">
Time: {% assign words = content | number_of_words %}
  {% if words < 270 %}
    1 minute
  {% else %}
    {{ words | divided_by:135 }} minutes
  {% endif %} read
  <br>
      Category: {% for tag in page.categories %}
       <a class="tag" href="/categories/#{{ tag | slugify }}">{{ tag }}</a> 
     {% endfor %}
     <br>
Tags: {% for tag in page.tags %}
       <a class="tag" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
     {% endfor %}
     
     </div>
     <footer class="card-footer">
    {% assign shareUrl=page.url | absolute_url | uri_escape %}
    <a class="card-footer-item" href="http://www.facebook.com/sharer.php?u={{ shareUrl }}" target="_blank">
              <span class="icon is-small"><i class="fa fa-facebook"></i></span></a>
    <a class="card-footer-item" href="http://twitter.com/share?url={{ shareUrl }}&text={{ page.title | uri_escape }}" target="_blank">
            <span class="icon is-small"><i class="fa fa-twitter"></i></span></a>
    <a class="card-footer-item" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ shareUrl }}" target="_blank">    
            <span class="icon is-small"><i class="fa fa-google-plus"></i></span></a>
  </footer>
</div>
</div>
</div>
{% include post_related.html %}          
<div class="spacer"></div>
{% include post_comments.html %}  
      
        </div>
      </div>
    </div>
  </section>
<div class="breadcrumbs">{{ include post_breadcrumbs.html }}</div>
{% include footer.html %}