{% include header.html %}
<section class="hero is-default is-small post-banner splash-header" style="">
  <div class="hero-body"  id="title-box">
    <div class="container glass-overlay">
      <h1 style="color: white;" class="title">
        {{ page.title }}
      </h1>

      <h2 class="subtitle" style="color:lightgrey">
        by @{{ page.author }}
      </h2>
    </div>
  </div>
</section>
  <section class="section blog">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="box content blog-post">
            <p class="has-text-right has-text-muted">{{ page.date | date_to_string }}</p>
            <p>{{ content }}</p>
          </div>
          <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title">
                About the author
              </p>
              <a class="card-header-icon" href="#top">
                <i class="fa fa-angle-up"></i>
              </a>
            </header>
            <div class="card-content">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="http://placehold.it/128x128" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ site.data.users[page.author].name }}</strong> <small>@{{ page.author }}</small>
                      <br>
                      {{ site.data.users[page.author].bio }}
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}">
                <span class="icon is-small"><i class="fa fa-facebook"></i></span><span class="is-hidden-mobile"> Share on Facebook</span></a>
                    <a class="card-footer-item" href="http://twitter.com/share?url={{ page.url | absolute_url }}&amp;text={{ page.title }}">
                      <span class="icon is-small"><i class="fa fa-twitter"></i></span><span class="is-hidden-mobile"> Share on Twitter</span></a>
                    <a class="card-footer-item" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{ page.url | absolute_url }}">
			<span class="icon is-small"><i class="fa fa-google-plus"></i></span> <span class="is-hidden-mobile"> Share on G+</span></a>
            </footer>
          </div>
        </div>
      </div>
      {% for relpost in site.related_posts %}
      {{ relpost }}
      {% endfor %}
    </div>
  </section>
{% include footer.html %}